{% extends "padre.html" %}
{% load static %}

{% block contenido %}
<main>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Deporte favorito</th>
            <th scope="col">Edad</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                {% for n in datos_amigos %}
                <th scope="row">{{n.id}}</th>
                <td>Nombre: {{n.nombre}} </td>
                <td>Deporte favorito: {{n.deporte_favorito}} </td>
                <td>Edad: {{n.edad}} </td>
                <td><a href="{% url 'borrar_amigo' n.id %}">Borrar</a></td> 
                <td><a href="{% url 'editar_amigo' n.id %}">Editar</a></td> 
            </tr>
            {% endfor %}    
        </tbody>
      </table>    
    <button>
        <a class="btn btn-primary" href="{% url 'alta_amigos' %}" style="background-color: rgb(10, 112, 1);">Agregar otro amigo</a>
    </button>
</main>
{% endblock %}
</html>